<p>
    {{userid}} ({{email}}), nee accounts summary:
</p>
<div>
  
  <table border="1">
    <tr>
      <td style="font:caption">Account Number</td>
      <td style="font:caption">Account TYpe</td>
      <td style="font:caption">Account Balance</td>
    </tr>
    <tr>
      <td>1110001111</td>
      <td>Savings Account</td>
      <td style="text-align:right">1111.11</td>
    </tr>
    <tr>
      <td>1110002222</td>
      <td>Personal Loan Account</td>
      <td style="text-align:right">2222.22</td>
    </tr>
    <tr>
      <td>1110003333</td>
      <td>Deposit Account</td>
      <td style="text-align:right">33.33</td>
    </tr>
  </table>
</div>
